# Copy this file to .env and update the paths for your machine.

WAYMOCOCO_BASE_PATH="/checkpoint/unicorns/shared/datasets/waymococo_f0"
WAYMO_TRAIN_TFRECORD_DIR="/checkpoint/unicorns/shared/datasets/waymo_v1_4_3/training"
WAYMO_VAL_TFRECORD_DIR="/checkpoint/unicorns/shared/datasets/waymo_v1_4_3/validation"
WAYMO_TEST_TFRECORD_DIR="/checkpoint/unicorns/shared/datasets/waymo_v1_4_3/testing"
